<div id="home">
	<section id="welcome">
	</section>

	<section id="welcome-gray-bar">
		<div class="container">	
			<h3>We’ll help your project from the foothills to Everest.</h3>
		</div>
	</section>

	<div class="container">
		<section id="portfolio">
			<%=image_tag "projects-heading.png", :alt => "Results" %>
			<div class="box">
				<div class="box-pic"><%=image_tag "thumb-builtinutah.gif", :alt => "Built in Utah"  %></div>
				<div class="box-title">Built in Utah</div>
				<div class="box-description"><p>Built in Utah is a hub for Utah tech businesses</p></div>
				<div class="box-shadow"></div>
			</div>
			<div class="box">
				<div class="box-pic"><%=image_tag "thumb-builtinutah.gif", :alt => "Built in Utah"  %></div>
				<div class="box-title">Built in Utah</div>
				<div class="box-description"><p>Built in Utah is a hub for Utah tech businesses</p></div>
				<div class="box-shadow"></div>
			</div>
			<div class="box last">
				<div class="box-pic"><%=image_tag "thumb-builtinutah.gif", :alt => "Built in Utah"  %></div>
				<div class="box-title">Built in Utah</div>
				<div class="box-description"><p>Built in Utah is a hub for Utah tech businesses</p></div>
				<div class="box-shadow"></div>
			</div>
		</section>

		<section id="results">
			<%=image_tag "results-heading.png", :alt => "Results" %>
			<div class="box">
				<div class="box-pic"><%=image_tag "thumb-builtinutah.gif", :alt => "Built in Utah"  %></div>
				<div class="box-title">Built in Utah</div>
				<div class="box-description"><p>Built in Utah is a hub for Utah tech businesses</p></div>
				<div class="box-shadow"></div>
			</div>
			<div class="box">
				<div class="box-pic"><%=image_tag "thumb-builtinutah.gif", :alt => "Built in Utah"  %></div>
				<div class="box-title">Built in Utah</div>
				<div class="box-description"><p>Built in Utah is a hub for Utah tech businesses</p></div>
				<div class="box-shadow"></div>
			</div>
			<div class="box last">
				<div class="box-pic"><%=image_tag "thumb-builtinutah.gif", :alt => "Built in Utah"  %></div>
				<div class="box-title">Built in Utah</div>
				<div class="box-description"><p>Built in Utah is a hub for Utah tech businesses</p></div>
				<div class="box-shadow"></div>
			</div>
		</section>
	</div>
</div>