<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/assets/favicon.png">
</head>
<body>

<header>
	<div id="color-stripe"></div>
	<div class="container">
		<nav>
			<ul id="nav-left">
				<li><a href="">About</a></li>
				<li><a href="">Portfolio</a></li>
			</ul>
			<div id="logo"><%=image_tag "logo.png", :alt => "JustViable" %></div>
			<ul id="nav-right">
				<li><a href="">Contact</a></li>
				<li><a href="/posts">Blog</a></li>
			</ul>
		</nav>
	</div>
</header>

<%= yield %>

<footer>
	<div id="color-stripe"></div>
	<div class="container">
		<script language="JavaScript"> document.write('&copy; ' + (new Date()).getFullYear()); </script> Just Viable
	</div>
</footer>

</body>
</html>
